Certifications-Backend-Service-certification-app-h2-web-sec-complete/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Certifications-Backend-Service-certification-app-h2-web-sec-complete/.gradle/7.0.2/fileHashes/fileHashes.lock
Certifications-Backend-Service-certification-app-h2-web-sec-complete/.gradle/7.0.2/executionHistory/executionHistory.lock
